#registro{
    background-image:url('imagenes/fondo_login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.letra_enca{
    font-size: 20px;
    font-weight: bold;
    color: white !important;
}

.banner{
    background-image:url('imagenes/banner2.jpg');
    background-size: cover;
}

.texto-banner{
    font-weight: bold;

}

/*
    ######   #     #  #######   #        #######   ######  #######   ###### #######   #####   ##    #          
    #     #  #     #  #     #   #           #     #        #     #  #          #     #     #  # #   #
    #     #  #     #  #     #   #           #     #        #     #  #          #     #     #  # #   #
    ######   #     #  #######   #           #     #        #######  #          #     #     #  #  #  # 
    #        #     #  #      #  #           #     #        #     #  #          #     #     #  #  #  #     
    #        #     #  #      #  #           #     #        #     #  #          #     #     #  #   # # 
    #        #     #  #      #  #           #     #        #     #  #          #     #     #  #   # # 
    #         #####   #######   #######  #######   ######  #     #   ###### #######   #####   #    ##           

*/
.divImagenPerfil{
    display: inline-block;
    width: 10%;
    position: relative;
    bottom: 15px;
}

.encabezadoPublicacion{
    display: inline-block;
    line-height: 15px;

}

.tituloPublicacion{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
} 


.subtituloPublicacion{
    display: inline-block;
    font-size: 12px;
    color: gray;
}

.botonPublicacion{
    padding-right: 5%; 
}





@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #DE6262;  /* fallback for old browsers */
    background: linear-gradient(to bottom, #29B3AE, #C5E5E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float:left;
    width:100%;
    padding : 50px 0;
}
.banner-sec{background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.cc{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#158980;}
.login-sec .copy-text a{color:#158980;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: rgb(79, 78, 95);}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#C5E5E9; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #345B57; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}

